@font-face {
  font-family: "JSArirang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HSSummer";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.project {
  width: 75rem;
  padding: 3.125rem;
  margin: 0 auto;

  transform: translateY(-1.25rem);
}

.project > .title {
  font-size: 1.5rem;
  transform: translateY(-1.875rem);
  padding-bottom: 1.25rem;

  border-bottom: 0.0625rem solid white;
}

.project > .inner {
  display: flex;
  flex-direction: column;
  gap: 12.5rem;
  margin-top: 1.25rem;
}

.project > .inner > .list {
  display: flex;
  gap: 1.25rem;

  width: 100%;
  height: 31.25rem;
}

.project > .inner > .right {
  flex-direction: row-reverse;
}

.project > .inner > .list > .img {
  height: 100%;
  flex: 1;

  box-sizing: border-box;
}

/* 프로젝트 메인 이미지 */
.project > .inner > .list .project-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40rem;
  height: 31.25rem;
  border-radius: 1rem;
}

/* 메인 이미지 링크 박스 */
.project > .inner > .list .project-img .add-link {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);

  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

  transition: opacity 0.5s;
}

.project > .inner > .list:hover .project-img .add-link {
  opacity: 1;
}

/* 메인 이미지 링크 */
.project > .inner > .list .project-img .add-link span,
.project > .inner > .list .project-img .add-link a {
  color: white;
  text-decoration: none;
  border: 0.0625rem solid white;
  padding: 0.9375rem;
  margin: 0.3125rem;
  transition: color 0.5s, background-color 0.5s;
}

/* 메인 이미지 링크 hover */
.project > .inner > .list .project-img span:hover,
.project > .inner > .list .project-img a:hover {
  color: rgb(29, 32, 36);
  background-color: white;
}

.project > .inner > .list > .txt {
  flex: 1.7;
}

.project > .inner > .list > .info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow: hidden;

  flex: 1;
}

.project > .inner > .list > .info > .title {
  font-size: 5rem;
}

.project > .inner > .list > .info > .tag {
  display: flex;
  gap: 0.625rem;
}

.project > .inner > .list > .info > .tag > span {
  padding: 0.625rem;
  border: 0.0625rem solid white;
  border-radius: 1.125rem;

  transition: background-color 0.25s, color 0.25s;
}

.project > .inner > .list > .info > .tag > span:hover {
  background-color: white;
  color: black;
}

/* 스타벅스 바로가기 버튼 */
.project > .inner > .list > .info > .link {
  width: 18.75rem;
  height: 6.25rem;
  margin: auto;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;

  text-decoration: none;
  font-size: 1.375rem;
}

/* 자세히 보기 창 */
.add-box {
  width: 75rem;
  height: 37.5rem;
  background-color: rgb(240, 240, 240);

  color: black;
  overflow: auto;
  display: none;

  position: absolute; 
  z-index: 10;

  /* 스크롤바 눈에 제거 부분(기능은 활성화) */

  scrollbar-width: none; /* 스크롤바 두께 제거 (Firefox) */ 
  scrollbar-color: transparent transparent; /* 혹시라도 보일 경우 대비 */
  -ms-overflow-style: none;  /* (IE 10, 11) */

  z-index: 3;
}

/* 스크롤바 제거 */
.add-box::-webkit-scrollbar {
  display: none;
}

.project > .inner > .list .add-button {
  cursor: pointer;
}

/* 자세히 보기 제목*/
.add-box .title-inner {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  height: 6.25rem;

  background-color: lightgray;

  align-items: center;
  justify-content: center;
}

.add-box .title {
  font-size: 1.875rem;
}

.add-box .sub-title {
  font-size: 1.5625rem;
  margin: 10px 0;
}

.add-box .inner {
  width: 80%;
  margin: 1.875rem auto;
}

.add-box .inner li {
  list-style: inside;
  padding: 0.1875rem;
}

.add-box > .content{
  width: 100%;
  height: 100%;

  position: relative;
}

.add-box > .content > .exit-button{
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;

  width: 29px;
  aspect-ratio: 1/1;
  border: .125rem solid black;
  border-radius: 1rem;
  
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}


