.intro-message {
  margin: 0 auto;
  padding: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-message .intro-title {
  display: inline-block;
}

.intro-message .inner {
  width: 75rem;
  box-sizing: border-box;
  padding-bottom: 3.125rem;
}

.intro-message .hr-line {
  margin: 0.9375rem 0;
}

.intro-message .intro-txt {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  font-size: 1rem;
  margin-top: 3.125rem;
}

.intro-message .slogan {
  font-size: 45px;
  font-family: "SF_HambakSnow", sans-serif;

  margin-top: 5rem;
}

.intro-message .slogan-txt {
  display: inline-block;
}
