footer {
  display: flex;
}

footer > .inner {
  margin: auto;
  width: 1200px;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-top: 1px solid white;
}

footer > .inner > .title {
  font-size: 3.125rem;
}

footer .name {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
}

footer .content {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

footer .phone,
footer .email,
footer .github {
  font-size: 1.25rem;
  font-weight: 31.25rem;
}
